In [37]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randint(1, 100, size=(10,3)),
    columns=["mike", "bob", "joe"])

df

   mike  bob  joe
0    62   15   97
1     5   68   12
2    87   78   76
3    57   17   25
4    30   22   26
5    81   61   62
6    84   34   33
7    71   86   32
8    14   72   57
9    25   80   42

In [74]:
#if df.loc(df[3,'bob']):

df['bob']
    #print(a)

0    15
1    68
2    78
3    17
4    22
5    61
6    34
7    86
8    72
9    80
Name: bob, dtype: int32